@model List<Product>

<h4>Latest Products </h4>
<ul class="thumbnails">
   @foreach (var item in Model)
   {
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html"><img src='@item.MainPicturePath' alt="" /></a>
            <div class="caption">
                <h5>@item.Name</h5>
                <p>
                    @string.Concat(item.Description.Substring(0,100),"...")
                </p>

                <h4 style="text-align:center"><a class="btn" href='@Url.RouteUrl("rtP_productDetail", new { productid=string.Format("{0}_{1}",item.Name.Split(' ')[0],item.Id) })'><i class="icon-zoom-in"></i></a><a class="btn" href="javascript:void(0)" onclick="AddtoBasket('@item.Id')">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$@item.UnitPrice</a></h4>
            </div>
        </div>
    </li>
   }
    
</ul>


